<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div>
            <div>
                <span>Suppression de compte<span>
            </div>

            <div class="main">
                Bonjour <span>{{ user.firmName }}</span>,

                Votre compte NotiMail a été désactivé.

                Merci de nous avoir fait confiance !
            </div>

            <div class="footbar">
                <div>
                </div>
            </div>
        </div>
        
        
        {% endblock %}
    </body>
</html>