<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div>
            <div>
                <span>Changement de mot de passe<span>
            </div>

            <div class="main">
                Bonjour <span>{{ user.firmName }}</span>,

                Voici votre nouvaeu mot de passe pour vote compte NotiMail :
                <div>
                    Mot de passe : <span>{{ password }}</span>
                </div>

                Merci d'utiliser nos services et à bientôt !
            </div>

            <div class="footbar">
                <div>
                </div>
            </div>
        </div>
        
        
        {% endblock %}
    </body>
</html>